<template>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <rooms-list class="sidebar"></rooms-list>
        </div>
        <div class="col-sm-9">
            <c-panel class="c-panel main">
                <div class="panel-body">
                    <input type="text" @keyup.enter="setUsername(username)" class="form-control" placeholder="Enter nickname" v-model="username">
                </div>
                <hr>
                <div v-if="selectedRoom" class="panel-body messages">
                    <p v-for="message in messages" :key="message.timestamp">
                        <strong>{{ message.author }}</strong>: <span>{{ message.content }}</span>
                    </p>
                </div>
                <hr>
                <div v-if="selectedRoom" class="panel-body">
                    <input type="text" @keyup.enter="sendMessage(message)" class="form-control" placeholder="Type a message" v-model="message">
                </div>
            </c-panel>
        </div>
    </div>
</div>

</template>

<style scoped>

.container-fluid {
    margin-top: 15px;
    max-width: 1200px;
}

.sidebar, .main {
    height: 72rem;
    max-height: 750px;
}

.sidebar {
    overflow-y: scroll;
}

input {
    color: #fff;
    background-color: #212121;
    border: 1px solid #888;
}

.c-panel .messages {
    padding-top: 0;
    padding-bottom: 0;
    height: 70%;
    max-height: 504px;
    overflow-y: scroll;
}

.c-panel .messages p {
    color: #fff;
    margin-bottom: 0;
}

</style>

<script>

import { mapActions } from 'vuex'

import cPanel from '@/components/c-panel'
import cTable from '@/components/c-table'
import RoomsList from '@/components/rooms-list'

export default {
    name: 'home',
    components: {
        cPanel,
        cTable,
        RoomsList
    },
    data() {
        return {
            username: this.$store.state.username,
            message: '',
            socket: this.$store.state.socket
        }
    },
    computed: {
        selectedRoom() {
            return this.$store.state.selectedRoom
        },
        messages() {
            return this.$store.getters.messages
        }
    },
    methods: {
        sendMessage(content) {
            const message = {
                content: content,
                author: this.username,
                room: this.selectedRoom,
                timestamp: +new Date()
            }

            this.$store.dispatch('broadcastMessage', message)
            this.message = ''
        },
        setUsername(name) {
            this.$store.dispatch('setUsername', name)
        }
    },
    mounted() {
        this.socket.on('message', message => {
            this.$store.commit('addMessage', message)
        })
    }
}

</script>
