<template>

<table class="table table-hover">
    <tbody>
        <slot></slot>
    </tbody>
</table>

</template>

<style scoped>

table td {
    background-color: #222;
    transition: 0.25s;
    border: none !important;
}

table.table-hover td:hover {
    cursor: pointer;
    background-color: #9933cc;
}

</style>