<template>

<c-panel class="c-panel sidebar">
    <c-table>
        <tr v-for="(room, i) in rooms" :key="`room-${i}`">
            <td @click="selectRoom(rooms[i])">{{ rooms[i] }}</td>
        </tr>
    </c-table>
</c-panel>

</template>

<script>

import { mapActions } from 'vuex'

import cPanel from '@/components/c-panel'
import cTable from '@/components/c-table'

export default {
    name: 'RoomsList',
    components: {
        cPanel,
        cTable
    },
    computed: {
        rooms() {
            return this.$store.getters.roomNames
        }
    },
    methods: {
        ...mapActions([
            'selectRoom'
        ])
    }
}

</script>